@media (max-width: 800px) {
  .title {
    height: 44px;
    margin-bottom: 20px;
  }
  .logo-large {
    width: 28px;
    object-fit: cover;
    object-position: left;
  }
  .title-right {
    font-size: 0.9rem;
  }
  .title-right img {
    width: 18px;
  }
}

@media (max-width: 500px) {
  .logo-large {
    display: none;
  }
  .logo-small {
    display: block;
    width: 32px;
    height: 32px;
  }
  .personal-best-full {
    display: none;
  }
  .personal-best-short {
    display: inline;
  }
}
